# SQL CARTO QUERY FUNCTION
# written for PUI2016_Python2

##### This notebook is set up to link as a default to the fb55 account.  To turn in the homework use the same account you used in the lab (hvt201)  and query the database that you were querying in class (citibike_feb_2015)

In [1]:
SQL_SOURCE = 'https://fb55.carto.com/api/v2/sql?q=SELECT' 

import urllib2
import urllib
import StringIO
import ast
import pandas as pd
try:
    import urllib2 as ulib
except ImportError:
    import urllib3 as ulib

try:
    from StringIO import BytesIO as io
except ImportError:
    from io import BytesIO as io

try:
    from urllib import urlencode as urlencode
except ImportError:
    from urllib.parse import urlencode as urlencode
    
try:
    from urllib import urlopen as urlopen
except ImportError:
    from urllib.request import urlopen as urlopen
    
try:
    from urllib2 import HTTPError as HTTPError
except ImportError:
    from urllib.error import HTTPError as HTTPError

import ast
import pandas as pd

def queryCartoDB(query, format='CSV', source=SQL_SOURCE):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    data = urllib.urlencode({'format': format, 'q': query})
    try:
        response = urllib2.urlopen(source, data)
    except urllib2.HTTPError, e:
        raise ValueError('\n'.join(ast.literal_eval(e.readline())['error']))
    except Exception:
        raise
    return response.read()

In [2]:
API_URL = 'https://fb55.carto.com/api/v2/sql?q=SELECT'

def queryCartoDB(query, formatting = 'CSV', source = API_URL):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    
    data = urlencode({'format': formatting, 'q': query}).encode("utf-8")
    try:
        response = urlopen(source, data)
        return response.read()
    except HTTPError as e:
        raise (ValueError('\n'.join(ast.literal_eval(e.readline())['error'])))
        
def get_data(query):
    try:
        return pd.read_csv(io(queryCartoDB(query)), sep = ',')
    except ValueError as v:
        print (str(v))

In [3]:
test = '''
SELECT *
FROM citibike
'''

In [4]:
pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,E 20 St & Park Ave,NaN,175,-73.987520,1090,2015-02-01 01:23:00+00,2015-02-01 01:42:00+00,503,107,40.738274,229,Great Jones St,40.727434,-73.993790,19718,Subscriber,1961.0,1
1,NaN,W 43 St & 10 Ave,NaN,1159,-73.994618,682,2015-02-01 10:55:00+00,2015-02-01 11:07:00+00,515,1088,40.760094,490,8 Ave & W 33 St,40.751551,-73.993934,21501,Subscriber,1981.0,1
2,NaN,E 6 St & Avenue B,NaN,2827,-73.981854,751,2015-02-01 13:59:00+00,2015-02-01 14:11:00+00,317,2759,40.724537,466,W 25 St & 6 Ave,40.743954,-73.991449,14788,Subscriber,1990.0,1
3,NaN,E 12 St & 3 Ave,NaN,4961,-73.988900,272,2015-02-01 17:28:00+00,2015-02-01 17:32:00+00,483,4893,40.732233,345,W 13 St & 6 Ave,40.736494,-73.997044,16219,Subscriber,1961.0,1
4,NaN,W 41 St & 8 Ave,NaN,6156,-73.990026,240,2015-02-01 21:36:00+00,2015-02-01 21:40:00+00,477,6090,40.756405,490,8 Ave & W 33 St,40.751551,-73.993934,18266,Customer,NaN,0
5,NaN,5 Ave & E 29 St,NaN,7433,-73.986831,376,2015-02-02 17:44:00+00,2015-02-02 17:50:00+00,474,7367,40.745168,537,Lexington Ave & E 24 St,40.740259,-73.984092,18048,Subscriber,1977.0,1
6,NaN,Allen St & Hester St,NaN,7779,-73.991908,1217,2015-02-02 20:12:00+00,2015-02-02 20:32:00+00,361,7712,40.716059,461,E 20 St & 2 Ave,40.735877,-73.982050,19732,Customer,NaN,0
7,NaN,E 39 St & 3 Ave,NaN,8327,-73.976049,441,2015-02-03 08:02:00+00,2015-02-03 08:10:00+00,167,8263,40.748901,526,E 33 St & 5 Ave,40.747659,-73.984907,21518,Subscriber,1975.0,1
8,NaN,10 Ave & W 28 St,NaN,9435,-74.001768,1475,2015-02-03 12:31:00+00,2015-02-03 12:56:00+00,489,9375,40.750664,455,1 Ave & E 44 St,40.750020,-73.969053,19863,Subscriber,1984.0,2
9,NaN,E 2 St & 2 Ave,NaN,10472,-73.990697,420,2015-02-03 16:45:00+00,2015-02-03 16:52:00+00,403,10411,40.725029,297,E 15 St & 3 Ave,40.734232,-73.986923,19257,Subscriber,1984.0,1
10,NaN,1 Ave & E 44 St,NaN,10931,-73.969053,876,2015-02-03 17:37:00+00,2015-02-03 17:52:00+00,455,10867,40.750020,477,W 41 St & 8 Ave,40.756405,-73.990026,17392,Subscriber,1977.0,1
11,NaN,W 45 St & 6 Ave,NaN,11361,-73.982912,640,2015-02-03 18:21:00+00,2015-02-03 18:32:00+00,493,11300,40.756800,440,E 45 St & 3 Ave,40.752554,-73.972826,21433,Subscriber,1981.0,1
12,NaN,W 18 St & 6 Ave,NaN,12173,-73.994564,571,2015-02-03 20:26:00+00,2015-02-03 20:35:00+00,168,12114,40.739713,494,W 26 St & 8 Ave,40.747348,-73.997236,19493,Subscriber,1964.0,1
13,NaN,E 58 St & 3 Ave,NaN,12211,-73.967245,821,2015-02-03 20:37:00+00,2015-02-03 20:50:00+00,305,12152,40.760958,515,W 43 St & 10 Ave,40.760094,-73.994618,16564,Subscriber,1983.0,1
14,NaN,E 33 St & 5 Ave,NaN,12560,-73.984907,376,2015-02-03 22:20:00+00,2015-02-03 22:26:00+00,526,12500,40.747659,507,E 25 St & 2 Ave,40.739126,-73.979738,19721,Subscriber,1991.0,1
15,NaN,W 31 St & 7 Ave,NaN,13239,-73.991600,770,2015-02-04 07:21:00+00,2015-02-04 07:34:00+00,379,13183,40.749156,461,E 20 St & 2 Ave,40.735877,-73.982050,15184,Subscriber,1987.0,2
16,NaN,5 Ave & E 29 St,NaN,13365,-73.986831,319,2015-02-04 07:35:00+00,2015-02-04 07:40:00+00,474,13312,40.745168,476,E 31 St & 3 Ave,40.743943,-73.979661,16067,Subscriber,1991.0,1
17,NaN,E 39 St & 2 Ave,NaN,13750,-73.973442,358,2015-02-04 08:11:00+00,2015-02-04 08:17:00+00,518,13702,40.747804,537,Lexington Ave & E 24 St,40.740259,-73.984092,19181,Subscriber,1991.0,1
18,NaN,10 Ave & W 28 St,NaN,14218,-74.001768,338,2015-02-04 08:45:00+00,2015-02-04 08:50:00+00,489,14172,40.750664,494,W 26 St & 8 Ave,40.747348,-73.997236,18840,Subscriber,1992.0,2
19,NaN,W 42 St & 8 Ave,NaN,14431,-73.990985,575,2015-02-04 08:59:00+00,2015-02-04 09:08:00+00,529,14384,40.757570,442,W 27 St & 7 Ave,40.746647,-73.993915,15151,Subscriber,1956.0,1
20,NaN,E 27 St & 1 Ave,NaN,15157,-73.976806,451,2015-02-04 10:10:00+00,2015-02-04 10:17:00+00,2012,15113,40.739445,518,E 39 St & 2 Ave,40.747804,-73.973442,20338,Subscriber,1990.0,2
21,NaN,Great Jones St,NaN,15669,-73.993790,548,2015-02-04 11:51:00+00,2015-02-04 12:00:00+00,229,15625,40.727434,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,15482,Subscriber,1962.0,1
22,NaN,W 49 St & 8 Ave,NaN,16526,-73.987882,404,2015-02-04 14:08:00+00,2015-02-04 14:14:00+00,450,16481,40.762272,520,W 52 St & 5 Ave,40.759923,-73.976485,17488,Subscriber,1965.0,2
23,NaN,Broadway & W 24 St,NaN,16572,-73.989151,357,2015-02-04 14:15:00+00,2015-02-04 14:21:00+00,444,16527,40.742354,475,E 16 St & Irving Pl,40.735243,-73.987586,17453,Subscriber,1975.0,1
24,NaN,E 40 St & 5 Ave,NaN,18931,-73.981632,330,2015-02-04 18:02:00+00,2015-02-04 18:08:00+00,153,18880,40.752062,518,E 39 St & 2 Ave,40.747804,-73.973442,18973,Subscriber,1980.0,1
25,NaN,E 16 St & 5 Ave,NaN,19229,-73.992390,606,2015-02-04 18:19:00+00,2015-02-04 18:29:00+00,496,19177,40.737262,379,W 31 St & 7 Ave,40.749156,-73.991600,18362,Subscriber,1981.0,1
26,NaN,Broadway & W 36 St,NaN,20481,-73.987654,1001,2015-02-04 19:59:00+00,2015-02-04 20:15:00+00,267,20425,40.750977,504,1 Ave & E 15 St,40.732219,-73.981656,19935,Subscriber,1985.0,2
27,NaN,8 Ave & W 31 St,NaN,21285,-73.994811,1618,2015-02-04 21:58:00+00,2015-02-04 22:25:00+00,521,21228,40.750450,483,E 12 St & 3 Ave,40.732233,-73.988900,14660,Subscriber,1976.0,1
28,NaN,W 45 St & 6 Ave,NaN,23338,-73.982912,876,2015-02-05 08:29:00+00,2015-02-05 08:43:00+00,493,23298,40.756800,454,E 51 St & 1 Ave,40.754557,-73.965930,16891,Subscriber,1964.0,1
29,NaN,FDR Drive & E 35 St,NaN,23392,-73.971212,506,2015-02-05 08:32:00+00,2015-02-05 08:40:00+00,501,23353,40.744219,164,E 47 St & 2 Ave,40.753231,-73.970325,18208,Subscriber,1978.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46170,NaN,Washington Pl & Broadway,NaN,46170,-73.994046,812,2015-02-07 23:51:00+00,2015-02-08 00:05:00+00,335,46171,40.729039,435,W 21 St & 6 Ave,40.741740,-73.994156,15733,Subscriber,1988.0,1
46171,NaN,Allen St & Hester St,NaN,46171,-73.991908,647,2015-02-07 23:51:00+00,2015-02-08 00:02:00+00,361,46172,40.716059,504,1 Ave & E 15 St,40.732219,-73.981656,16931,Subscriber,1995.0,1
46172,NaN,Warren St & Church St,NaN,46172,-74.009106,563,2015-02-07 23:51:00+00,2015-02-08 00:00:00+00,152,46173,40.714740,401,Allen St & Rivington St,40.720196,-73.989978,17202,Subscriber,1987.0,1
46173,NaN,E 12 St & 3 Ave,NaN,46173,-73.988900,470,2015-02-07 23:51:00+00,2015-02-07 23:59:00+00,483,46174,40.732233,439,E 4 St & 2 Ave,40.726281,-73.989780,20314,Subscriber,1989.0,2
46174,NaN,Dean St & 4 Ave,NaN,46174,-73.978951,299,2015-02-07 23:51:00+00,2015-02-07 23:56:00+00,467,46175,40.683125,395,Bond St & Schermerhorn St,40.688070,-73.984106,21531,Subscriber,1989.0,1
46175,NaN,Allen St & Hester St,NaN,46175,-73.991908,629,2015-02-07 23:52:00+00,2015-02-08 00:02:00+00,361,46176,40.716059,504,1 Ave & E 15 St,40.732219,-73.981656,21491,Subscriber,1968.0,1
46176,NaN,Broadway & E 22 St,NaN,46176,-73.989551,499,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,402,46177,40.740343,380,W 4 St & 7 Ave S,40.734011,-74.002939,15367,Subscriber,1990.0,1
46177,NaN,Washington Pl & 6 Ave,NaN,46177,-74.000264,474,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,369,46178,40.732241,368,Carmine St & 6 Ave,40.730386,-74.002150,18978,Subscriber,1973.0,2
46178,NaN,E 31 St & 3 Ave,NaN,46178,-73.979661,345,2015-02-07 23:52:00+00,2015-02-07 23:58:00+00,476,46179,40.743943,504,1 Ave & E 15 St,40.732219,-73.981656,19507,Subscriber,1980.0,1
46179,NaN,Broadway & W 60 St,NaN,46179,-73.981918,829,2015-02-07 23:53:00+00,2015-02-08 00:07:00+00,499,46180,40.769155,160,E 37 St & Lexington Ave,40.748238,-73.978311,16936,Subscriber,1980.0,1
46180,NaN,Carmine St & 6 Ave,NaN,46180,-74.002150,776,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,368,46181,40.730386,531,Forsyth St & Broome St,40.718939,-73.992663,18689,Subscriber,1982.0,1
46181,NaN,W 52 St & 5 Ave,NaN,46181,-73.976485,697,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,520,46182,40.759923,478,11 Ave & W 41 St,40.760301,-73.998842,15781,Subscriber,1972.0,1
46182,NaN,Dean St & 4 Ave,NaN,46182,-73.978951,1703,2015-02-07 23:54:00+00,2015-02-08 00:23:00+00,467,46183,40.683125,471,Grand St & Havemeyer St,40.712868,-73.956981,15081,Subscriber,1988.0,1
46183,NaN,9 Ave & W 45 St,NaN,46183,-73.991255,922,2015-02-07 23:54:00+00,2015-02-08 00:10:00+00,479,46184,40.760193,247,Perry St & Bleecker St,40.735354,-74.004831,21672,Subscriber,1983.0,1
46184,NaN,Broadway & W 58 St,NaN,46184,-73.981693,849,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,46185,40.766953,488,W 39 St & 9 Ave,40.756458,-73.993722,16336,Subscriber,1970.0,1
46185,NaN,Broadway & W 58 St,NaN,46185,-73.981693,826,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,46186,40.766953,488,W 39 St & 9 Ave,40.756458,-73.993722,21609,Subscriber,1973.0,1
46186,NaN,Watts St & Greenwich St,NaN,46186,-74.009660,473,2015-02-07 23:54:00+00,2015-02-08 00:02:00+00,328,46187,40.724055,3002,South End Ave & Liberty St,40.711512,-74.015756,19470,Subscriber,1964.0,1
46187,NaN,W 51 St & 6 Ave,NaN,46187,-73.980420,332,2015-02-07 23:54:00+00,2015-02-07 23:59:00+00,510,46188,40.760660,450,W 49 St & 8 Ave,40.762272,-73.987882,18167,Subscriber,1960.0,1
46188,NaN,University Pl & E 14 St,NaN,46188,-73.992005,456,2015-02-07 23:55:00+00,2015-02-08 00:03:00+00,382,46189,40.734927,404,9 Ave & W 14 St,40.740583,-74.005509,15929,Subscriber,1987.0,1
46189,NaN,W 11 St & 6 Ave,NaN,46189,-73.998004,327,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,254,46190,40.735324,466,W 25 St & 6 Ave,40.743954,-73.991449,17541,Subscriber,1983.0,1
46190,NaN,W 17 St & 8 Ave,NaN,46190,-74.001497,306,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,116,46191,40.741776,494,W 26 St & 8 Ave,40.747348,-73.997236,14736,Subscriber,1983.0,2
46191,NaN,W 47 St & 10 Ave,NaN,46191,-73.993012,1248,2015-02-07 23:56:00+00,2015-02-08 00:17:00+00,495,46192,40.762699,432,E 7 St & Avenue A,40.726218,-73.983799,16300,Subscriber,1984.0,1
46192,NaN,Warren St & Church St,NaN,46192,-74.009106,1165,2015-02-07 23:56:00+00,2015-02-08 00:15:00+00,152,46193,40.714740,325,E 19 St & 3 Ave,40.736245,-73.984738,16978,Subscriber,1959.0,1
46193,NaN,E 20 St & 2 Ave,NaN,46193,-73.982050,993,2015-02-07 23:56:00+00,2015-02-08 00:13:00+00,461,46194,40.735877,295,Pike St & E Broadway,40.714067,-73.992939,16722,Subscriber,1974.0,1
46194,NaN,1 Ave & E 44 St,NaN,46194,-73.969053,1422,2015-02-07 23:57:00+00,2015-02-08 00:20:00+00,455,46195,40.750020,265,Stanton St & Chrystie St,40.722293,-73.991475,20184,Subscriber,1960.0,2
46195,NaN,W 20 St & 8 Ave,NaN,46195,-74.000040,689,2015-02-07 23:57:00+00,2015-02-08 00:08:00+00,470,46196,40.743453,325,E 19 St & 3 Ave,40.736245,-73.984738,15585,Subscriber,1953.0,1
46196,NaN,5 Ave & E 29 St,NaN,46196,-73.986831,428,2015-02-07 23:57:00+00,2015-02-08 00:04:00+00,474,46197,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,16395,Subscriber,1986.0,2
46197,NaN,5 Ave & E 29 St,NaN,46197,-73.986831,392,2015-02-07 23:57:00+00,2015-02-08 00:03:00+00,474,46198,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,15545,Subscriber,1986.0,1
46198,NaN,Carmine St & 6 Ave,NaN,46198,-74.002150,548,2015-02-07 23:58:00+00,2015-02-08 00:08:00+00,368,46199,40.730386,334,W 20 St & 7 Ave,40.742388,-73.997262,19540,Subscriber,1983.0,2
46199,NaN,E 4 St & 2 Ave,NaN,46199,-73.989780,917,2015-02-07 23:59:00+00,2015-02-08 00:15:00+00,439,46200,40.726281,417,Barclay St & Church St,40.712912,-74.010202,20998,Subscriber,1965.0,2

In [5]:
# 1.1 sort data by both: start_station_id ascending, and tripduration descending 
# Ref: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sort_values.html
# • Sort data by start_station_id, tripduration
# - Only checking trips with duration <= 3 hours 

# Ref: https://www.w3schools.com/sql/sql_orderby.asp
query = '''SELECT * FROM citibike
WHERE tripduration<=10800
ORDER BY start_station_id ASC
;
'''

table = get_data(query)
print table.head()

query = '''SELECT * FROM citibike
WHERE tripduration<=10800
ORDER BY tripduration DESC
;
'''

table = get_data(query)
print table.head()

   the_geom start_station_name  the_geom_webmercator  field_1  \
0       NaN   W 52 St & 11 Ave                   NaN    36425
1       NaN   W 52 St & 11 Ave                   NaN    31682
2       NaN   W 52 St & 11 Ave                   NaN    40774
3       NaN   W 52 St & 11 Ave                   NaN     9802
4       NaN   W 52 St & 11 Ave                   NaN    29612

   start_station_longitude  tripduration               starttime  \
0               -73.993929           747  2015-02-06 17:11:00+00
1               -73.993929           388  2015-02-06 07:53:00+00
2               -73.993929          1127  2015-02-07 10:41:00+00
3               -73.993929          1535  2015-02-03 14:23:00+00
4               -73.993929           586  2015-02-05 19:07:00+00

                 stoptime  start_station_id  cartodb_id  \
0  2015-02-06 17:24:00+00                72       36397
1  2015-02-06 08:00:00+00                72       31639
2  2015-02-07 10:59:00+00                72       40761
3  2015-02-03 14:48:00+00                72        9742
4  2015-02-05 19:16:00+00                72       29569

   start_station_latitude  end_station_id         end_station_name  \
0               40.767272             453          W 22 St & 8 Ave
1               40.767272             529          W 42 St & 8 Ave
2               40.767272             382  University Pl & E 14 St
3               40.767272             334          W 20 St & 7 Ave
4               40.767272             503       E 20 St & Park Ave

   end_station_latitude  end_station_longitude  bikeid    usertype  \
0             40.744751             -73.999154   17274  Subscriber
1             40.757570             -73.990985   16405  Subscriber
2             40.734927             -73.992005   20239  Subscriber
3             40.742388             -73.997262   15117  Subscriber
4             40.738274             -73.987520   14700  Subscriber

   birth_year  gender
0      1970.0       1
1      1978.0       1
2      1970.0       1
3      1956.0       2
4      1993.0       1
   the_geom             start_station_name  the_geom_webmercator  field_1  \
0       NaN          Greenwich Ave & 8 Ave                   NaN    41403
1       NaN                W 29 St & 9 Ave                   NaN    10975
2       NaN  Washington St & Gansevoort St                   NaN    40237
3       NaN           Centre St & Worth St                   NaN     7538
4       NaN             Broadway & W 55 St                   NaN     9756

   start_station_longitude  tripduration               starttime  \
0               -74.002638         10757  2015-02-07 12:17:00+00
1               -73.998393         10660  2015-02-03 17:42:00+00
2               -74.008119         10174  2015-02-07 09:31:00+00
3               -74.002345          9969  2015-02-02 18:22:00+00
4               -73.981923          9938  2015-02-03 14:10:00+00

                 stoptime  start_station_id  cartodb_id  \
0  2015-02-07 15:16:00+00               284       41392
1  2015-02-03 20:40:00+00               512       10912
2  2015-02-07 12:20:00+00               405       40221
3  2015-02-02 21:08:00+00               386        7472
4  2015-02-03 16:55:00+00               468        9696

   start_station_latitude  end_station_id               end_station_name  \
0               40.739017             173             Broadway & W 49 St
1               40.750073             435                W 21 St & 6 Ave
2               40.739323             405  Washington St & Gansevoort St
3               40.714948             264           Maiden Ln & Pearl St
4               40.765265            2023        E 55 St & Lexington Ave

   end_station_latitude  end_station_longitude  bikeid    usertype  \
0             40.760647             -73.984427   15082  Subscriber
1             40.741740             -73.994156   16099  Subscriber
2             40.739323             -74.008119   21323  Subscriber
3             40.707065             -74.007319   19921  Subscriber
4             40.759681             -73.970314   19070  Subscriber

   birth_year  gender
0      1973.0       1
1      1950.0       1
2      1983.0       1
3      1987.0       2
4      1970.0       1

In [38]:
# 1.2 Select last 10 records of the table. Hint: use the table’s main id field;



query = '''SELECT  * FROM citibike
    ORDER BY cartodb_id ASC
    LiMIT 10 ;
'''

table = get_data(query)
print table

query = '''SELECT  * FROM citibike
    ORDER BY cartodb_id DESC
    LiMIT 10 ;
'''

table = get_data(query)
print table

   the_geom                 start_station_name  the_geom_webmercator  field_1  \
0       NaN                    8 Ave & W 31 St                   NaN       70
1       NaN                 E 17 St & Broadway                   NaN       71
2       NaN  Grand Army Plaza & Central Park S                   NaN       72
3       NaN                  6 Ave & Broome St                   NaN       73
4       NaN        Lawrence St & Willoughby St                   NaN       74
5       NaN       Willoughby Ave & Walworth St                   NaN       75
6       NaN                    W 56 St & 6 Ave                   NaN       76
7       NaN                     E 4 St & 2 Ave                   NaN       77
8       NaN           Washington Pl & Broadway                   NaN       78
9       NaN              Greenwich Ave & 8 Ave                   NaN       79

   start_station_longitude  tripduration               starttime  \
0               -73.994811           801  2015-02-01 00:00:00+00
1               -73.990093           379  2015-02-01 00:00:00+00
2               -73.973715          2474  2015-02-01 00:01:00+00
3               -74.004704           818  2015-02-01 00:01:00+00
4               -73.986317           544  2015-02-01 00:01:00+00
5               -73.953820           717  2015-02-01 00:02:00+00
6               -73.977225          1306  2015-02-01 00:04:00+00
7               -73.989780           913  2015-02-01 00:04:00+00
8               -73.994046           759  2015-02-01 00:04:00+00
9               -74.002638           585  2015-02-01 00:05:00+00

                 stoptime  start_station_id  cartodb_id  \
0  2015-02-01 00:14:00+00               521           1
1  2015-02-01 00:07:00+00               497           2
2  2015-02-01 00:42:00+00               281           3
3  2015-02-01 00:15:00+00              2004           4
4  2015-02-01 00:10:00+00               323           5
5  2015-02-01 00:14:00+00               373           6
6  2015-02-01 00:26:00+00               352           7
7  2015-02-01 00:19:00+00               439           8
8  2015-02-01 00:17:00+00               335           9
9  2015-02-01 00:15:00+00               284          10

   start_station_latitude  end_station_id               end_station_name  \
0               40.750450             423                W 54 St & 9 Ave
1               40.737050             504                1 Ave & E 15 St
2               40.764397             127          Barrow St & Hudson St
3               40.724399             505                6 Ave & W 33 St
4               40.692362              83  Atlantic Ave & Fort Greene Pl
5               40.693317            2002   Wythe Ave & Metropolitan Ave
6               40.763406             504                1 Ave & E 15 St
7               40.726281             116                W 17 St & 8 Ave
8               40.729039            2012                E 27 St & 1 Ave
9               40.739017             444             Broadway & W 24 St

   end_station_latitude  end_station_longitude  bikeid    usertype  \
0             40.765849             -73.986905   17131  Subscriber
1             40.732219             -73.981656   21289  Subscriber
2             40.731724             -74.006744   18903  Subscriber
3             40.749013             -73.988484   21044  Subscriber
4             40.683826             -73.976323   19868  Subscriber
5             40.716887             -73.963198   15854  Subscriber
6             40.732219             -73.981656   15173  Subscriber
7             40.741776             -74.001497   17862  Subscriber
8             40.739445             -73.976806   21183  Subscriber
9             40.742354             -73.989151   14843  Subscriber

   birth_year  gender
0        1978       2
1        1993       1
2        1969       2
3        1985       2
4        1957       1
5        1979       1
6        1983       1
7        1955       1
8        1985       2
9        1982       1
   the_geom     start_station_name  the_geom_webmercator  field_1  \
0       NaN         E 4 St & 2 Ave                   NaN    46199
1       NaN     Carmine St & 6 Ave                   NaN    46198
2       NaN        5 Ave & E 29 St                   NaN    46197
3       NaN        5 Ave & E 29 St                   NaN    46196
4       NaN        W 20 St & 8 Ave                   NaN    46195
5       NaN        1 Ave & E 44 St                   NaN    46194
6       NaN        E 20 St & 2 Ave                   NaN    46193
7       NaN  Warren St & Church St                   NaN    46192
8       NaN       W 47 St & 10 Ave                   NaN    46191
9       NaN        W 17 St & 8 Ave                   NaN    46190

   start_station_longitude  tripduration               starttime  \
0               -73.989780           917  2015-02-07 23:59:00+00
1               -74.002150           548  2015-02-07 23:58:00+00
2               -73.986831           392  2015-02-07 23:57:00+00
3               -73.986831           428  2015-02-07 23:57:00+00
4               -74.000040           689  2015-02-07 23:57:00+00
5               -73.969053          1422  2015-02-07 23:57:00+00
6               -73.982050           993  2015-02-07 23:56:00+00
7               -74.009106          1165  2015-02-07 23:56:00+00
8               -73.993012          1248  2015-02-07 23:56:00+00
9               -74.001497           306  2015-02-07 23:55:00+00

                 stoptime  start_station_id  cartodb_id  \
0  2015-02-08 00:15:00+00               439       46200
1  2015-02-08 00:08:00+00               368       46199
2  2015-02-08 00:03:00+00               474       46198
3  2015-02-08 00:04:00+00               474       46197
4  2015-02-08 00:08:00+00               470       46196
5  2015-02-08 00:20:00+00               455       46195
6  2015-02-08 00:13:00+00               461       46194
7  2015-02-08 00:15:00+00               152       46193
8  2015-02-08 00:17:00+00               495       46192
9  2015-02-08 00:01:00+00               116       46191

   start_station_latitude  end_station_id          end_station_name  \
0               40.726281             417    Barclay St & Church St
1               40.730386             334           W 20 St & 7 Ave
2               40.745168             325           E 19 St & 3 Ave
3               40.745168             325           E 19 St & 3 Ave
4               40.743453             325           E 19 St & 3 Ave
5               40.750020             265  Stanton St & Chrystie St
6               40.735877             295      Pike St & E Broadway
7               40.714740             325           E 19 St & 3 Ave
8               40.762699             432         E 7 St & Avenue A
9               40.741776             494           W 26 St & 8 Ave

   end_station_latitude  end_station_longitude  bikeid    usertype  \
0             40.712912             -74.010202   20998  Subscriber
1             40.742388             -73.997262   19540  Subscriber
2             40.736245             -73.984738   15545  Subscriber
3             40.736245             -73.984738   16395  Subscriber
4             40.736245             -73.984738   15585  Subscriber
5             40.722293             -73.991475   20184  Subscriber
6             40.714067             -73.992939   16722  Subscriber
7             40.736245             -73.984738   16978  Subscriber
8             40.726218             -73.983799   16300  Subscriber
9             40.747348             -73.997236   14736  Subscriber

   birth_year  gender
0        1965       2
1        1983       2
2        1986       1
3        1986       2
4        1953       1
5        1960       2
6        1974       1
7        1959       1
8        1984       1
9        1983       2

In [39]:
# 1.3 List all unique start_station_id values 
# Ref: https://chrisalbon.com/python/data_wrangling/pandas_list_unique_values_in_column/
# https://community.modeanalytics.com/sql/tutorial/sql-distinct/


query = '''SELECT DISTINCT (start_station_id) FROM citibike;
'''

table = get_data(query)
print table.head()

   start_station_id  Unnamed: 1
0               120         NaN
1               285         NaN
2               251         NaN
3               195         NaN
4               453         NaN

In [40]:
# 1.4 - 1 Count the number of trips (aka wc -l in SQL) 
query = '''SELECT COUNT(cartodb_id) 
FROM citibike;
'''

table = get_data(query)
print table

   count  Unnamed: 1
0  46200         NaN

In [41]:
# 1.4 - 2 Find minimal, maximal and average trip duration
# hint: min(), max(), avg()

query = '''
SELECT MAX(tripduration) FROM citibike;
'''
table = get_data(query)
print table
query = '''
SELECT MIN(tripduration) from citibike;
'''
table = get_data(query)
print table
query = ''' 
SELECT AVG(tripduration) FROM citibike;
'''
table = get_data(query)
print table

     max  Unnamed: 1
0  43016         NaN
   min  Unnamed: 1
0   60         NaN
          avg  Unnamed: 1
0  675.865823         NaN

In [42]:
# 2.1 Selecting trips started on Feb-02-2015 only 
# Ref :https://stackoverflow.com/questio22ns/18288298/sql-select-query-for-particular-date
query = ''' SELECT * FROM citibike
WHERE starttime >= '20150202' and
      starttime < '20150203';
'''
table = get_data(query)
print table.head()

   the_geom    start_station_name  the_geom_webmercator  field_1  \
0       NaN       5 Ave & E 29 St                   NaN     7433
1       NaN  Allen St & Hester St                   NaN     7779
2       NaN     E 5 St & Avenue C                   NaN       11
3       NaN       9 Ave & W 16 St                   NaN      627
4       NaN       9 Ave & W 16 St                   NaN      991

   start_station_longitude  tripduration               starttime  \
0               -73.986831           376  2015-02-02 17:44:00+00
1               -73.991908          1217  2015-02-02 20:12:00+00
2               -73.979955          1312  2015-02-02 11:07:00+00
3               -74.004432           444  2015-02-02 00:40:00+00
4               -74.004432           438  2015-02-02 00:40:00+00

                 stoptime  start_station_id  cartodb_id  \
0  2015-02-02 17:50:00+00               474        7367
1  2015-02-02 20:32:00+00               361        7712
2  2015-02-02 11:29:00+00               393        6920
3  2015-02-02 00:48:00+00               463        6477
4  2015-02-02 00:47:00+00               463        6478

   start_station_latitude  end_station_id         end_station_name  \
0               40.745168             537  Lexington Ave & E 24 St
1               40.716059             461          E 20 St & 2 Ave
2               40.722992             476          E 31 St & 3 Ave
3               40.742065             489         10 Ave & W 28 St
4               40.742065             489         10 Ave & W 28 St

   end_station_latitude  end_station_longitude  bikeid    usertype  \
0             40.740259             -73.984092   18048  Subscriber
1             40.735877             -73.982050   19732    Customer
2             40.743943             -73.979661   17720  Subscriber
3             40.750664             -74.001768   20233  Subscriber
4             40.750664             -74.001768   20264  Subscriber

   birth_year  gender
0      1977.0       1
1         NaN       0
2      1955.0       1
3      1971.0       1
4      1981.0       2

In [53]:
# 2.2 Selecting trips started on the weekends;
# Ref: https://dba.stackexchange.com/questions/74554/how-to-pull-rows-only-from-the-weekends
query = ''' SELECT starttime FROM citibike
            WHERE EXTRACT(dow from starttime) in (0, 6)
            ;
'''
table = get_data(query)
print table.head()

                starttime  Unnamed: 1
0  2015-02-01 01:23:00+00         NaN
1  2015-02-01 10:55:00+00         NaN
2  2015-02-01 13:59:00+00         NaN
3  2015-02-01 17:28:00+00         NaN
4  2015-02-01 21:36:00+00         NaN

In [54]:
#2.2 What are average trip duration during weekends?
query = ''' SELECT AVG(tripduration) FROM citibike
            WHERE EXTRACT(dow from starttime) in (0, 6)
            ;
'''
table = get_data(query)
print table.head()

          avg  Unnamed: 1
0  662.942181         NaN

In [45]:
# 2.3 Can we do the same for weekday?
query = ''' SELECT starttime FROM citibike
            WHERE EXTRACT(dow from starttime) in (1,2,3,4,5)
            ;
'''
table = get_data(query)
print table.head()

                starttime  Unnamed: 1
0  2015-02-02 17:44:00+00         NaN
1  2015-02-02 20:12:00+00         NaN
2  2015-02-03 08:02:00+00         NaN
3  2015-02-03 12:31:00+00         NaN
4  2015-02-03 16:45:00+00         NaN

In [46]:
#2.2 What are average trip duration during weekdays?
query = ''' SELECT AVG(tripduration) FROM citibike
            WHERE EXTRACT(dow from starttime) in (1,2,3,4,5)
            ;
'''
table = get_data(query)
print table

          avg  Unnamed: 1
0  681.052292         NaN

In [47]:
# 3.1 Showing the list of start station locations 
# hint: GROUP BY station id, COUNT();

query = ''' SELECT start_station_name FROM citibike 
            GROUP BY start_station_name
            ;'''
table = get_data(query)
table.head()

        start_station_name  Unnamed: 1
0     E 30 St & Park Ave S         NaN
1  Pearl St & Anchorage Pl         NaN
2          W 56 St & 6 Ave         NaN
3           West Thames St         NaN
4  Bank St & Washington St         NaN

In [48]:
#3.2 Showing the number of trips started per station 
# Ref: https://www.w3schools.com/sql/sql_groupby.asp
query = ''' SELECT start_station_name, COUNT(cartodb_id) FROM citibike
            GROUP BY start_station_name    
            ORDER BY COUNT(cartodb_id) DESC
            ;'''
NumberOfTrips = get_data(query)
print NumberOfTrips.head()

         start_station_name  count
0           8 Ave & W 31 St    530
1           W 21 St & 6 Ave    519
2     Lafayette St & E 8 St    511
3           W 41 St & 8 Ave    507
4  E 43 St & Vanderbilt Ave    486

In [49]:
# 3.3  but only for stations within 500m of Time Square!
# - The coordinates of Time Square is (40.7577,-73.9857)
# Ref: dexxtr.com

query = ''' SELECT start_station_name, COUNT(cartodb_id) FROM citibike
            GROUP BY start_station_name    
            ORDER BY COUNT(cartodb_id) DESC
            ;'''
NumberOfTrips = get_data(query)
print NumberOfTrips.head()

query = ''' SELECT start_station_name, start_station_latitude, start_station_longitude FROM citibike


WHERE(SQRT(POW(start_station_latitude-40.7577 , 2) + POW(start_station_longitude - -73.9857 , 2)) * 111000 < 500)

;'''


table = get_data(query)
print table.head()

         start_station_name  count
0           8 Ave & W 31 St    530
1           W 21 St & 6 Ave    519
2     Lafayette St & E 8 St    511
3           W 41 St & 8 Ave    507
4  E 43 St & Vanderbilt Ave    486
   start_station_name  start_station_latitude  start_station_longitude
0     W 45 St & 6 Ave               40.756800               -73.982912
1     W 45 St & 6 Ave               40.756800               -73.982912
2     W 45 St & 6 Ave               40.756800               -73.982912
3     W 45 St & 6 Ave               40.756800               -73.982912
4  Broadway & W 49 St               40.760647               -73.984427

In [50]:
#3.3 
query = ''' SELECT start_station_name, COUNT(cartodb_id) FROM citibike
            WHERE(SQRT(POW(start_station_latitude-40.7577 , 2) + POW(start_station_longitude - -73.9857 , 2)) * 111000 < 500)
            GROUP BY start_station_name    
            ORDER BY COUNT(cartodb_id) DESC
            ;'''
NumberOfTrips = get_data(query)
print NumberOfTrips

   start_station_name  count
0  Broadway & W 41 St    251
1  Broadway & W 49 St    213
2     W 45 St & 8 Ave    141
3     W 45 St & 6 Ave    141
4     W 43 St & 6 Ave    112

In [51]:
#4.1 Find the station that had the 1. longest average trip duration 2. during weekends and 3. within 500m of TimeSquare! 


query = ''' SELECT start_station_name, starttime, MAX(tripduration) as TripDuration, (SQRT(POW(start_station_latitude - 40.7577 , 2) + POW(start_station_longitude - -73.9857 , 2)) * 111000 < 500) as Radius FROM citibike
            
            WHERE (SQRT(POW(start_station_latitude - 40.7577 , 2) + POW(start_station_longitude - -73.9857 , 2)) * 111000 < 500)

            and EXTRACT(dow from starttime) in (0, 6)
            GROUP BY start_station_name, starttime, TripDuration, Radius
            ORDER BY tripduration DESC
            LIMIT 1

;
'''
table = get_data(query)
print table.head()

# Group BY must include every term mentioned in Select in the first sentence.

   start_station_name               starttime  tripduration radius
0  Broadway & W 49 St  2015-02-07 17:23:00+00         15636   True

In [52]:
#4.2 Extra: create lines for trips started from stations within 500m of Times
#Squares and lasted less than 2 hours. The number of trips per each
#pair of stations are output as attributes of these lines.
query = ''' SELECT start_station_name, starttime, MAX(tripduration) as TripDuration, (SQRT(POW(start_station_latitude - 40.7577 , 2) + POW(start_station_longitude - -73.9857 , 2)) * 111000 < 500) as Radius FROM citibike
            
            WHERE (SQRT(POW(start_station_latitude - 40.7577 , 2) + POW(start_station_longitude - -73.9857 , 2)) * 111000 < 500)

            and EXTRACT(dow from starttime) in (0, 6)
            and tripduration<=7200
            GROUP BY start_station_name, starttime, TripDuration, Radius
            ORDER BY tripduration DESC

;
'''
table = get_data(query)
print table.head()

   start_station_name               starttime  tripduration radius
0     W 45 St & 8 Ave  2015-02-07 18:28:00+00          3517   True
1     W 43 St & 6 Ave  2015-02-07 14:28:00+00          2811   True
2  Broadway & W 49 St  2015-02-07 16:21:00+00          2797   True
3     W 45 St & 8 Ave  2015-02-01 17:56:00+00          2203   True
4     W 45 St & 6 Ave  2015-02-07 21:29:00+00          2200   True

# extra credit: make the function python 2 and 3 compatible so that it works on the  PUI2016_Python3 kernel